<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>
                    <a href="@Url.Content("~/")"><i class="lnr lnr-home"></i> <span>Material</span></a>
                </li>                
                <li>
                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-dice"></i> <span>Master Manage</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages" class="collapse ">
                        <ul class="nav">
                            <li>@Html.ActionLink("Material", "Index", "Material", null, null)</li>
                            <li>@Html.ActionLink("BOM", "Index", "BOM", null, null)</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#subPages2" data-toggle="collapse" class="collapsed"><i class="lnr lnr-dice"></i> <span>Work Order</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages2" class="collapse ">
                        <ul class="nav">
                            <li>@Html.ActionLink("WO-Create", "ChooseProduct", "WorkOrder", null, null)</li>
                            <li>@Html.ActionLink("WO-GI", "EnterReferenceOrder", "StockPosting", new { PostingType = 2 }, null)</li>
                            <li>@Html.ActionLink("WO-GR", "EnterReferenceOrder", "StockPosting", new { PostingType = 3 }, null)</li>
                        </ul>
                    </div>
                </li>                
            </ul>
        </nav>
    </div>
</div>
